/* .header{
    border: 1px solid black;
    width: 75%;
    margin-left: 5%;
}

h1{
    font-family: var(--Playfair);
    color: #fff;
    font-size: 2rem;
} */

.wrapper{
    background-color: var(--AllianceColor);
}

h1{
    font-family: var(--Playfair);
    color: #fff;
}