.login{
    margin: 10% auto;
    padding: 2%;
}

.loginButton{
    background-color: var(--AllianceColor);
}

.loginButton:hover {
    background-color: var(--AllianceColorSecondary);
}

.forgotPassword{
    color: var(--AllianceColor);
}

.forgotPassword:hover{
    color: var(--AllianceColorSecondary);
}

.background{
    border: 1px solid red;
    background-image: url(https://alliance.com.ph/images/company-profile-nav-bg-low-res.jpg);
}
