.login{
    margin: 10% auto;
}

.loginButton{
    background-color: var(--AllianceColor);
}

.loginButton:hover {
    background-color: var(--AllianceColorSecondary);
}

.forgotPassword{
    color: var(--AllianceColor);
}

.forgotPassword:hover{
    color: var(--AllianceColorSecondary);
}
